{{ define "main" }}
<div class="row">
    <div class="col-md-8">
            <h1 class="h2 text-center"> {{ .Title }}</h1>
            <p>Here are links to all the content on this website. First are the principal pages.</p>

            <h2 class="h3">Main Pages</h2>
            <ul>
                <!-- <li><a href="/news/"> Fixed Pages {{ now.Format "2006" }}</a></li> -->
               
                {{ range  (where .Site.RegularPages "Section" "in" (slice "mainpages")) }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>


            <h2 class="h3">Videos</h2>
            <ul>
                {{ range  (where .Site.RegularPages "Section" "in" (slice "videos")) }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a> 
                    <!-- - {{.Params.imagef}} -->
                </li>
                {{ end }}
            </ul>
            <h2 class="h3">News</h2>
            <ul>
                {{ range  (where .Site.RegularPages "Section" "in" (slice "news")) }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a> 
                    <!-- - {{.Params.imagef}} -->
                </li>

                        <!-- cp {{.Params.imagef}} tmp/{{.Params.imagef}} -->
                {{ end }}
            </ul>
           

            {{ .Content }}
    </div>
    <div class="col-md-4">
            {{ partial "main-sidebar.html" . }}
    </div>
</div>
{{ end }}