<!--   MAIN FOOTER-->
 <footer id="main-footer" class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="pt-4 text-xs-center">
                    <h5 class="text-uppercase"> <img src="/images/wktvusa-logo-rect.png" alt="wktvusa logo" height=80 ></h5>
                    <p><strong class="secondz">WKTV - 는 동부의 VA, MD, DC </strong> 전지역에 유일한 한인 방송국이며, 서부의 오렌지 카운티(CA), SD를 비롯 전 미주에 COX Communications의 디지털 베이직 채널로 1986년부터 30여년의 방송 역사를 가진 미국의 아시안 메이저 방송사입니다. 현재 COX Cable과 Comcast 에 24시간 3개의 한국 채널과 1개의 중국채널 1개의 홍콩채널를 방송하고 있습니다.</p> 
                    <p><strong class="secondz">KOREA TODAY - Sirius XM CH 144</strong> 는 Sirius XM Satellite Radio Platform을 통해, Sirius XM 채널 144번에서 24시간 미 주류사회 시청자들과 1천5백만 아시안- 아메리칸을 대상으로 젊은 아시아 풍 컨텐츠와 K-pop, 문화, 뉴스를 미 전역의 3천5백만 청취자(유료가입자 2천2백만 포함) 시청자들에게 방송하는 유일한 한국어 위성 라디오 방송국입니다.</p>
                    
                            <!-- <div class="col-xs-12 col-sm-12 col-md-12">
                                <ul class="list-unstyled list-inline social text-center">
                                    <li class="list-inline-item px-3"><a href="https://www.youtube.com/user/WKTVNETWORK" target="_blank"><i class="fa fa-youtube fa-4x"></i></a></li>
                                    <li class="list-inline-item px-3"><a href="https://twitter.com/wktvnetwork" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li> 
                                    <li class="list-inline-item px-3" ><a href="https://www.facebook.com/wktvnetwork" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li>
                                    <li class="list-inline-item px-3"><a href="/contactus/" target="_blank"><i class="fa fa-envelope fa-4x"></i></a></li>
                                </ul>
                            </div> -->
                    
                    <p> Copyright ©  {{ now.Year }} WKTV / KOREA TODAY. All Rights Reserved.  </p>
                    <p>   <a href="/sitemap/">SiteMap</a>  | <a href="/privacy-policy/">Privacy Policy</a></p>

                </div>
             </div>
           
             <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="py-2 text-xs-center">
                            <h5 class="secondz">WKTV  는 동부의  </h5>
                            2931-G Eskridge Rd.<br/>
                            Fairfax, VA 22031 USA<br/>
                            Tel: 703-560-1590 <br/>
                            Fax: 703-560-1593 <br/>
                            Email: pro@wktvusa.com <br/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="py-2 text-xs-center">
                                <h5 class="secondz">WKTV  Advertising  </h5>
                                <ul class="p-0">
                                    <li class="nolist py-2">
                                        <a href="/media-kit/">Media Kit</a>
                                    </li>
                                    <li class="nolist py-2">
                                        <a href="/ad/">Advertising Rates</a>
                                    </li>
                                    <li class="nolist py-2">
                                        <a href="/contactus/">Contact Us</a>
                                    </li>
                                </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="map-responsive">
                        <iframe scrolling="no" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3106.2769330625233!2d-77.23171959999999!3d38.871905399999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64b7b7ee65d77%3A0xeee45ecc4d03605b!2s2931+Eskridge+Rd!5e0!3m2!1sko!2sus!4v1398704788269" width="300" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div> -->
                <a href="/contactus/"><img src="/images/directions.jpg" class="img-fluid"></a>
            </div>
        </div>
     </div>
 </footer> 

 <!-- 
     extra text
    
    <div class="py-2 text-xs-center">
    <h5 class="secondz">About Us</h5>
    <ul class="list-unstyled">
        <li>
            <a href="/introduction/">Introduction</a>
        </li>
        <li>
            <a href="/greetings/">Greetings</a>
        </li>
        <li>
            <a href="/organization/">Organization</a>
        </li>
        <li>
            <a href="/contactus/">Contact Us</a>
        </li>
    </ul>
    <h5 class="secondz">News Today</h5>
    <ul class="list-unstyled">
        <li>
            <a href="http://www.youtube.com/user/WKTVNETWORK" target="_blank">Wktvusa Youtube Channel </a>
        </li>
        <li>
            <a href="/xm144/">Korea Today</a>
        </li>
        <li>
            <a href="/news/">Latest News</a>
        </li>
        <li>
            <a href="/news/">Latest Videos</a>
        </li>
    </ul>
    <h5 class="secondz">Advertising</h5>
    <ul class="list-unstyled">
        <li>
            <a href="/media-kit/">Media Kit</a>
        </li>
        <li>
            <a href="/ad/">Advertising Rates</a>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <a href="/privacy-policy/">Privacy Policy</a>
        </li>
        <li>
            <a href="/sitemap/">SiteMap</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a> 
        </li>
    </ul>
</div> -->