<div class="container bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-1 pb-2">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">
        <img src="/images/wktvusa-logo-rect.png" alt="WkTVUSA.com logo" height=80 >
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
       
        <li class="nav-item dropdown mx-auto">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-light" href="/introduction/">Introduction</a>
                <a class="dropdown-item text-light" href="/greetings/">Greetings</a>
                <a class="dropdown-item text-light" href="/organization/">Organization</a>
                <a class="dropdown-item text-light" href="/contactus/">Contact Us</a>
            </div>
        </li>

        <li class="nav-item dropdown mx-auto">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Program
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item text-light" href="http://www.youtube.com/user/WKTVNETWORK"  target="_blank" >WKTV Youtube Channel</a>
                <a class="dropdown-item text-light" href="/xm144/">Korea Today</a>
                <a class="dropdown-item text-light" href="/news/">News Paper Zone</a>
                <a class="dropdown-item text-light" href="/videos/">Videos</a>

            </div>
        </li>

        <li class="nav-item mx-auto">
            <a class="nav-link" id="navbarLinkNews"  href="/xm144/"   aria-haspopup="true" aria-expanded="false">
                News Today
            </a>
        </li>

        <li class="nav-item dropdown mx-auto">
                <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Advertising
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-light" href="/media-kit/">Media Kit</a>
                    <a class="dropdown-item text-light" href="/ad/">Advertising Rates</a>
                </div>
            </li>
        
            <li class="nav-item px-1 py-2 py-lg-1"><a href="https://www.youtube.com/user/WKTVNETWORK" target="_blank"><i class="fa fa-youtube fa-2x text-light"></i></a></li>
            <li class="nav-item px-1 py-2 py-lg-1"><a href="https://twitter.com/wktvnetwork" target="_blank"><i class="fa fa-twitter fa-2x text-light"></i></a></li> 
            <li class="nav-item px-1 py-2 py-lg-1" ><a href="https://www.facebook.com/wktvnetwork" target="_blank"><i class="fa fa-facebook fa-2x text-light"></i></a></li>
            <li class="nav-item px-1 py-2 py-lg-1" ><a href="/contactus/"><i class="fa fa-envelope fa-2x text-light"></i></a></li>

    </ul>
    </div>
    </nav>
</div>