{{ define "main" }}
<div>
    <small> Last Update: {{ now.Format "January 2, 2006" }} </small>
</div> 
<div class="row">
    <div class="col-md-8"> 
        <h4 class="ml-0">News</h4>
        {{ partial "blog-posts.html" . }}
    </div>
    <div class="col-md-4"> 
        <h4 class="mb-6" >Videos</h4>
        <!-- BEGIN POSTS SECTION -->
        {{ range first 10 (where .Site.RegularPages "Section" "in" (slice "videos")) }}  
        <!-- CARD  -->
            <div class="card my-1">
                {{ $plink := .Permalink}}
                {{ $title := .Title }}
                {{ $yid := .Params.youtube}}
                <div class="card-img">
                    {{ partial "imagecode.video.html" . }}
                </div>
                <div class="card-body">
                    <h4 class="card-title"><a href="{{.Permalink}}" class="card-link">{{.Title}}</a></h4>
                    <p class="card-text">
                        {{ .Summary }}
                    </p>
                </div>
                
            </div>
        {{end}}   
        <!-- END POSTS SECTION -->
    </div>
</div>
{{ partial "modal.html" . }}
{{ end }}