{{ define "main" }}

    <article>
        
        <div class="row">
            <div class="col-md-8">
                    <h1>404 - Page Not Found!</h1>
                <p>The page you requested could not be found.<br/> Please use the menu and/ or try some of the pages below.</p>
                <h2> Important Links </h2>
                <ul>
                 
                </ul>
                
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
        
 
    </article>

{{ end }}