{{ define "main" }}


<div class="row">

        <div class="col-lg-12">
          <h2 class="my-4">WKTV USA Team 1</h2>
        </div>      
        {{ range $index, $element := .Params.members }}
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="{{$element.pic}}" alt="">
                <h3>{{$element.name}}</h3>
                        <small>{{$element.title}}</small>
                <p> {{$element.info}}</p>
                </div>
        {{ end }}

        
</div>


 
{{ end }}